@model IEnumerable<Producer>; 

@{
    ViewData["Title"] = "List of Producer";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center text-nowrap">@Html.DisplayNameFor(model => model.ProfilePictureURL)</th>
                    <th class="text-center text-nowrap">@Html.DisplayNameFor(model => model.FullName)</th>
                    <th class="text-center text-nowrap">@Html.DisplayNameFor(model => model.Bio)</th>
                    <th class="text-center text-nowrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle p-3">
                            <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                        </td>
                        <td class="align-middle justify-content-lg-center p-3 text-nowrap">@Html.DisplayFor(modelItem => item.FullName)</td>
                        <td class="align-middle p-3 text-nowrap">@Html.DisplayFor(modelItem => item.Bio)</td>
                        <td class="align-middle p-3 text-nowrap">
                            <a class="btn btn-outline-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                            <a class="btn btn-secondary text-white"><i class="bi bi-eye"></i>Detial</a>
                            <a class="btn btn-danger text-white"><i class="bi bi-trash"></i>Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>